<nav class="navbar navbar-expand-lg navbar-dark bg-info fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand texto" routerLink='inicio' href="#">LPF Argentina</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link"  routerLink="Inicio" routerLinkActive="active" href="#">Inicio</a>
                <a class="nav-link" routerLink="Equipos" routerLinkActive="active"  href="#">Equipos div.A</a>
                <a class="nav-link"  routerLink="Mjugadores" routerLinkActive="active" href="#">Mejores Jugadores</a>
            </div>
        </div>
    </div>
</nav>