.footer{
    height: 150px;
    width: 100%;
    background-color: darkcyan;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:ghostwhite;
}
.contenedor{
    width: 100%;
    padding-left:5px;
    padding-top: 10px;
}
h6{
    font-size: 25px;
}