<div class="footer">
    <div class="row contenedor">
        <div class="col-12 col-md-5 offset-md-3 info">
            <h6>Futbol, Futsal, Interior, CABA</h6>
        </div>
    </div>
    <div class="row contenedor justify-content-start">
        <div class="col-12 col-md-4 columna">
            <p>Encontranos en las redes sociales como: @InfoLPFarg</p>
        </div>        
    </div>
</div>
