<section class="hero conteiner-fluid">
    <div id="carouselExampleSlidesOnly " class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner ">
            <div class="carousel-item active contenedor-hero ">
                <img src="assets/img/hero_img.jpg" class="d-block w-100 img" alt="logo Afa LPF">
                <div class="carousel-caption d-block d-md-block texto-hero ">
                    <h1>Información de la Liga Profesional de Fútbol</h1>
                    <p>Resultados de la última Fecha <br>Equipos<br>Primera A Primera Nacional Ascenso</p>
                    <a class="btn btn-primary" [routerLink]="['/Mjugadores']">Ver Jugadores Destacados</a>
                </div>
            </div>
        </div>
    </div>
</section>

