
.texto-hero {
    margin-bottom: 400px;
    margin-right: 450px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
@media(max-width: 800px){
    .texto-hero {
        margin-bottom: 0px;
        margin-right: 70px;
    }
    .hero{
        height:400px;
        width: 100%;
    }
    .contenedor-hero{
        height: 400px;
    }
    .img{
        height: 400px;
    }
    .texto-hero h1{
        font-size: 15px;
    }
    .texto-hero p,a{
        font-size: 12px;
    }
}
