<section class="equipos">
    <div class="row contenedor-galery ">
        <div class="col-12 col-md-4 columna">
            <img src="assets/img/equipo1.png" alt="img" class="img">
            <div class="body">
                <a href="#">Club Atletico Boca Juniors <br>0 descensos
                </a>
            </div>
        </div>
        <div class="col-12 col-md-4 columna ">
            <img src="assets/img/equipo2.png" alt="img" class="img">
            <div class="body">
                <a href="#">Club Atletico River Plate <br>1 descenso</a>
            </div>
        </div>
        <div class="col-12 col-md-4 columna">
            <img src="assets/img/equipo3.png" alt="img" class="img">
            <div class="body">
                <a href="#">Club Atletico Independiente <br>1 descenso</a>
            </div>
            
        </div>
        <div class="col-12 col-md-4  columna">
            <img src="assets/img/equipo4.png" alt="img"  class="img">
            <div class="body">
                <a href="#">Club Atletico Racing Club <br>1 descenso</a>
            </div>
        </div>
        <div class="col-12 col-md-4 columna ">
            <img src="assets/img/equipo5.png" alt="img" class="img">
            <div class="body">
                <a href="#">Club Defensa y Justicia <br>Varios Descensos</a>
            </div>
        </div>
        <div class="col-12 col-md-4 columna ">
            <img src="assets/img/equipo6.png" alt="img" class="img">
            <div class="body">
                <a href="#">Club Atletico Talleres (cba) <br>Varios Descensos</a>
            </div>
            
        </div>
    </div>
</section>