.equipos{
    width: 100%;
    background-color: white;
    margin-top: 64px;
}
.contenedor-galery{
    width: 100%;
    padding: 0px;
    margin: 0px;
}
.columna{
    border:0.2px solid black;
    height: 300px;
    padding: 0px;
}
.body{
    background-color: aquamarine;
    padding-left: 20px;
    color: blueviolet;
}
a{
    color: black;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serifs;
}
.img{
    height: 250px;
    width: 100%;
    object-fit:contain;
}