.jugadores{
    margin-top: 64px;
    background-image: url("/assets/img/liga-profesional.jpg");
    height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}
.Mjugadores, .texto{
    width: 100%;
    color: cornsilk;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 10px;
    margin-bottom: 10px;
}
.M2{
    width: 100%;
    color: cornsilk;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 10px;
}
