<section class="jugadores">
    <h3 class="texto">Goleadores del torneo</h3>
    <div class="row Mjugadores">
        <div class="col-4 col-md-3">
            <h5>Jugadores</h5>
        </div>
        <div class="col-6 col-md-3">
            <h5>Goles</h5>
        </div>
    </div>
    <div class="row M2">
        <div class="col-4 col-md-3">
            <h6>Julian Alvarez</h6>
        </div>
        <div class="col-6 col-md-6">
            <h6>15</h6>
        </div>
    </div>
    <div class="row M2">
        <div class="col-4 col-md-3">
            <h6>Sebastian Villa</h6>
        </div>
        <div class="col-6 col-md-6">
            <h6>12</h6>
        </div>
    </div>
    <div class="row M2">
        <div class="col-4 col-md-3">
            <h6>Edwin Cardona</h6>
        </div>
        <div class="col-3 col-md-3">
            <h6>11</h6>
        </div>
    </div>
    <div class="row M2">
        <div class="col-4 col-md-3">
            <h6>Cristian Pavon</h6>
        </div>
        <div class="col-3 col-md-3">
            <h6>8</h6>
        </div>
    </div>
    <div class="row M2">
        <div class="col-4 col-md-3">
            <h6>Lisandro Lopez</h6>
        </div>
        <div class="col-4 col-md-3">
            <h6>5</h6>
        </div>
    </div>
    <h3 class="texto">Maximos Asistidores</h3>
    <div class="row Mjugadores">
        <div class="col-4 col-md-3">
            <h5>Jugadores</h5>
        </div>
        <div class="col-6 col-md-3">
            <h5>Asistencias</h5>
        </div>
    </div>
    <div class="row M2">
        <div class="col-4 col-md-3">
            <h6>Carlos Tevez</h6>
        </div>
        <div class="col-6 col-md-6">
            <h6>7</h6>
        </div>
    </div>
    <div class="row M2">
        <div class="col-4 col-md-3">
            <h6>Toto Salvio</h6>
        </div>
        <div class="col-6 col-md-6">
            <h6>5</h6>
        </div>
    </div>
    <div class="row M2">
        <div class="col-4 col-md-3">
            <h6>Cristian Pavon</h6>
        </div>
        <div class="col-3 col-md-3">
            <h6>5</h6>
        </div>
    </div>
    <div class="row M2">
        <div class="col-4 col-md-3">
            <h6>Sebastian Villa</h6>
        </div>
        <div class="col-3 col-md-3">
            <h6>3</h6>
        </div>
    </div>
    <div class="row M2">
        <div class="col-4 col-md-3">
            <h6>Cesar Azpilicueta</h6>
        </div>
        <div class="col-4 col-md-3">
            <h6>2</h6>
        </div>
    </div>
</section>